@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import "./style.scss";
@import "./story.scss";
@import "./cap.scss";
@import "./get.scss";
$color:#FFFFFF;
$fontf:"OpenSans";
$page_width: 1438px;
.test {
    color: red;
}

body {
    margin: 0;
   padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1200px;
    margin: 0px auto;
  }